body {
    background-color: antiquewhite;
}

nav {
    text-align: right;
}

.profile-elements {
    text-align: center;
}

.profile-forms {
    text-align: center;
}

h1 {

    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}